*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: "Lato", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 80%;
    background-color: #1c1c1c;
    display: grid;
    grid-template-areas: 
                "header header header header"
                "left-aside main main right-aside";
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
    color: white;
}
a{
    display: inline-block;
    text-decoration: none;
    color: inherit;
}
span{
    display: inline-block;
}
ol,ul{
    list-style-type: none;
}
header {
    grid-area: header;
    color: white;
    text-align: center;
}
#header-Wrapper{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99999;
}
aside.left {
    grid-area: left-aside;
    padding: 1rem;
    position: relative;
}
aside.right {
    grid-area: right-aside;
    padding: 1rem;
    position: relative;
}
main {
    grid-area: main;
    padding: 1rem;
    margin-top: 98px;
}
.asideLeftWrapper{
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 98px;
    left: 0;
}
.asideRightWrapper {
    width: 25%;
    height: 100vh;
    position: fixed;
    top: 98px;
    right: 0;
    /* overflow-y: scroll; */
}
.dFlex{
    display: flex;
}
/* ================================================== */

/* NAV Section Start */
#nav{
    background-color: #262729;
    padding: 10px 15px;
}
.navLogo{
    width: 45px;
    height: 45px;
}
.dFlex{
    width: 100%;
    justify-content: space-between;
    align-items: center;
}
#nav .dFlex .left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
}
#nav .dFlex .left .NavSearchWrapper{
    background-color: #333333;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    gap: 3px;
    overflow: hidden;
    border-radius: 25px;
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    -o-border-radius: 25px;
}
#nav .dFlex .left .NavSearchWrapper i{
    color: #b6b6b6;
    font-size: 18px;
}
#nav .dFlex .left #navSearch{
    background-color: transparent;
    width: 300px;
    padding: 7px;
    border: none;
}
#nav .dFlex .left #navSearch::placeholder{
    font-size: 20px;
    font-weight: 500;
    color: #b6b6b6;
}
#nav .dFlex  .middle{
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 140px;
}
#nav .dFlex  .middle a i{
    width: 60px;
    height: 60px;
    font-size: 25px;
    line-height: 60px;
    text-align: center;
    color: #b6b6b6;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    position: relative;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
#nav .dFlex  .middle a i::after{
    content: "";
    width: 0;
    height: 4px;
    background-color: #0862f8;
    position: absolute;
    left: 50%;
    bottom: -10px;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
#nav .dFlex  .middle a i:hover{
    color: #0862f8;
}
#nav .dFlex  .middle a:first-child i{
    color: #0862f8;
}
#nav .dFlex  .middle a:first-child i::after{
    width: 160px;
}

#nav .dFlex  .middle a i:hover::after{
    width: 160px;
}
#nav .dFlex  .right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 13px;
}
#nav .dFlex .right a i{
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    background-color: #3c3d3f;
    color: #e2e5ea;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#nav .dFlex .right .userProfileImage{
    width: 50px;
    height: 50px;
    background-color: #3c3d3f;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}
#nav .dFlex .right .userProfileImage img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
/* NAV Section End */

/* Main Section Start */
.inputArea{
    width: 100%;
    padding: 40px 20px;
    font-size: 20px;
    color: #e2e5e9;
    background-color: #262729;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    margin-bottom: 15px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inputArea textarea{
    width: 97%;
    height: 100px;
    color: #B0B3B8;
    background-color: #3c3d3f;
    border: none;
    padding: 15px;
}
.inputArea textarea::placeholder{
    font-size: 15px;
}
.inputArea input{
    width: 48%;
    padding: 20px;
    color: #B0B3B8;
    background-color: #3c3d3f;
    border: none;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
 .postList{
    display: flex;
    flex-direction: column;
    gap: 15px;
 }
#submitPost{
    width: 97%;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
    color: #B0B3B8;
    background-color: #3c3d3f;
    border: none;
    padding: 20px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
#submitPost:hover{
    cursor: pointer;
    background-color: #353535;
}
.post{
    width: 100%;
    padding: 10px 0;
    font-size: 20px;
    color: #e2e5e9;
    background-color: #262729;
    border-radius: 15px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
    position: relative;
}
.deleteBtn{
    font-size: 15px;
    font-weight: 600;
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
}
.deleteBtn:hover{
    cursor: pointer;
    background-color: #ff2020;
    color: #fff;
}
.post .postHeading{
    /* background-color: #ffffff4d; */
    padding: 0 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
}
.postHeadingImageWrapper{
    width: 50px;
    height: 50px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.postHeadingImageWrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.postUserName{
    font-size: 18px;
    font-weight: 700;
    color: #E2E5E9;
}
.postTime{
    font-size: 13px;
    margin-top: 5px;
    color: #B0B3B8;
}
.postUserText{
    max-height: 150px;
    padding: 20px;
    font-size: 18px;
    line-height: 1.2;
    font-weight: 400;
    text-align: justify;
    color: #E2E5E9;
    overflow: hidden;
}
.postBodyImageWrapper{
    width: 100%;
}
.postBodyImageWrapper img{
    width: 100%;
    height: auto;
    max-height: 600px;
    object-fit: cover;
}
.postBodyBottom{
    padding: 15px;
}
.likeCommentCounting{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.react{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
}
.react i:first-child{
    font-size: 20px;
    color: red;
}
.react i:nth-child(2){
    width: 20px;
    height: 20px;
    margin-left: -3px;
    font-size: 10px;
    line-height: 20px;
    text-align: center;
    background-color: #0862f8;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.postBodyBottom{
    font-size: 15px;
    font-weight: 300;
    color: #B0B3B8;
}
.commentShareWrapper{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    column-gap: 5px;
}
.likeCommentCounting{
    border-bottom: 1px solid #b4b4b487;
    padding-bottom: 10px;
}
.likeCommentShareIcon{
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 0 0;
}
.likeCommentShareIcon #like {
    width: 33.33%;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.likeCommentShareIcon #comments {
    width: 33.33%;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.likeCommentShareIcon #shares {
    width: 33.33%;
    font-size: 20px;
    text-align: center;
    padding: 10px 0;
    transition: all linear 0.3s;
    -webkit-transition: all linear 0.3s;
    -moz-transition: all linear 0.3s;
    -ms-transition: all linear 0.3s;
    -o-transition: all linear 0.3s;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}
.likeCommentShareIcon #like:hover,
.likeCommentShareIcon #comments:hover,
.likeCommentShareIcon #shares:hover{
    cursor: pointer;
    background-color: #3b3d3e;
    
}
.likeCommentShareIcon i{
    font-size: 25px;
    margin-right: 5px;
}
main{
    height: 1000px;
}
/* Main Section End */

/* aside Right Section Start */
.asideRightWrapper{
    padding: 20px 20px 20px 150px;
}
.asideRightContact {
    font-size: 19px;
    letter-spacing: 2px;
    color: #abaeb3;
    margin-bottom: 13px;
}
#asideRightContactItemList{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #abaeb3;
}
.asideRightContactItem{
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    color: #696b6d;
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
}
.asideRightContactItem:hover{    
    background-color: #252526;
}
.asideRightImageWrapper{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.asideRightImageWrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
}
.asideRightGroupName {
    color: #abaeb3;
    margin: 20px 0;
}
#asideRightGroupItemList{
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.asideRightGroupItem{
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    color: #696b6d;
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
}
.asideRightGroupItem:hover{    
    background-color: #252526;
}
.asideRightGroupImageWrapper{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.asideRightGroupImageWrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
    opacity: 0.5;
}
/* aside Right Section End */

/* aside Left Section Start */
.asideLeftWrapper {
    padding: 0px 150px 20px 10px;
}
#asideLeftContactItemList{
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #abaeb3;
}
.asideLeftContactItem{
    font-size: 20px;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    color: #d7dade;
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
}
.asideLeftContactItem:hover{    
    background-color: #252526;
}
.asideLeftImageWrapper{
    width: 40px;
    height: 40px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.asideLeftImageWrapper img{
    width: 100%;
    height: auto;
    object-fit: cover;
    /* opacity: 0.5; */
}
.asideLeftGroupName {
    color: #abaeb3;
    margin: 20px 0;
}
#asideLeftGroupItemList{
    padding-bottom: 10px;
    margin-bottom: 20px;
}
.asideLeftGroupItem{
    font-size: 20px;
    color: #d7dade;
    padding: 10px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    column-gap: 10px;
    transition: all linear 0.2s;
    -webkit-transition: all linear 0.2s;
    -moz-transition: all linear 0.2s;
    -ms-transition: all linear 0.2s;
    -o-transition: all linear 0.2s;
}
.asideLeftGroupItem:hover{    
    background-color: #252526;
}
span.asideLeftContactItemName {
    color: #eeeeee;
    line-height: 1;
    width: 282px;
}
.asideLeftGroupImageWrapper{
    width: 60px;
    height: 60px;
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
.asideLeftGroupImageWrapper img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}
/* aside Left Section End */